.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.btn {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
  border: 0;
  background-color: #a3a3cf;
}

.btn:hover {
  background-color: #2f2f3c;
  box-shadow: 2px 2px 8px;
}
