.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.slider{
    margin-left: 8px;
    /* margin-right: 8px; */
}

.rev{
    margin-top: 0px;
    margin-left: 12px;
}