.container{
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-bottom: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

.body{
    display: flex;
    flex-direction: row;
    /* height: 90%; */
    /* margin-top: 0; */
}

.title{
    cursor: pointer;
    font-weight: bold;
}