.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.buttonUpload {
    /* z-index: 1;
    width: 10%;
    padding: 8px;
    background-color: #aaaaaa;
    border-radius: 2px;
    border: 0; */
}

.paragraph {
    /* z-index: 1; */
}

.buttonStart{
    /* z-index: 1;
    width: 10%;
    padding: 8px;
    background-color: #aaaaaa;
    border-radius: 2px;
    border: 0; */
}

.buttonUpload:hover{
    /* box-shadow: 2px 2px 8px; */
}

.buttonStart:hover{
    /* box-shadow: 2px 2px 8px; */
}